#display {
    height: 76px;
    width: 216px;
    border: 1px solid grey;
    margin: 3px;
}

#data {
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    padding: 5px;
    margin: 5px;
    
}

#value {
    font-size: 30px;
}

#equation {
    font-size: 15px;
}

button {
    padding: 10px;
    margin: 3px;
}

.container {
    display: flex;
}

.big {
    width: 106px;
}

.small {
    width: 50px;
}